
body{background:#21161b;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%
    max-width: 1200px;
    margin:auto;
}
html{
    scroll-behavior: smooth;
}

.deslizar{
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    left: 95px;
    top: 30px;

}
.deslizar a{
background:linear-gradient(90deg, #dfa2b7, #c392c6);
     border-radius: 25px;
     color: #1f1419;
     padding: 12px 18px;
     margin-left: 10px;
     font-weight: bold;     
}

.caja{
    width: 350px;
    background: #291c24;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid pink;
    text-align: center;
}
.caja img {
    width: 300px;
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
}
.caja h2{
    text-align: center;
    color: #e2d5cc;
}
.caja p {   
line-height: 25px;
color: #e2d5cc;
}
.caja ul{
    text-align: left;
    margin-left: 40px;
    color: #e2d5cc;
}
.fondo{
    width: 82%;
    height: 480px;
     background:#291c24;
    margin: 40px auto;
    padding: 25px;
    border-radius: 20px;
    
    border: 2px solid pink;
}
.slider{
    width: 70%;
    height: 450px;
    margin: 12px auto;
    overflow: hidden;
    border-radius: 20px;
   border: 3px solid pink;
    

}

.slider-container  {
display: flex;
width: 300%;
height: 100%;
animation: deslizar 12s infinite;
}
.slider-container img {
    width:calc(100%/3) ;
    height: 100%;
    object-fit:cover;
   
}
@keyframes  deslizar {
    0%{ margin-left: 0%;}
    30%{ margin-left: 0%;}
    35%{ margin-left: -100%;}
    65%{ margin-left: -100%;}
    75%{ margin-left: -200%;}
    100%{ margin-left: -200%;}
    }

    header { 
        display: flex;
        padding: 15px 25px;  
        position: relative;    
    }
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.2rem;
        color: #fcefe6;
        text-align: center;
        margin: 20px auto 20px auto;
       
        
        
    }
    .botones{
       position: absolute;
        right: 110px;
        top: 30px;
    }
    
    .botones a{
     background:linear-gradient(90deg, #dfa2b7, #c392c6);
     border-radius: 25px;
     color: #1f1419;
     padding: 12px 18px;
     margin-left: 10px;
     font-weight: bold;
    }
    .botones a:hover{
        background: white;
        transform: scale(1.05);
    }
    
    footer{
        width: 100%;
        margin-top: 50px;
        text-align: center;
        background:pink;
        color: #1f1419;
        border-radius: 10px;
        padding: 25px 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 0.95rem;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

    }
    
    .formulario{
        width: 400px;
       height: 500px;
       background: #21161b;
        border-radius: 20px;
        border: 2px solid pink ;
        box-shadow: 0px 5px 15px ;
    }
    .formulario label{
        color: #fcefe6;
       
    }
    
    .formulario h1{
        text-align: center;
        padding: 10px;
        color: #7a525d;
    }  
    .formulario form{
       display: flex;
       flex-direction: column;
       gap: 15px;
       
    }
    .formulario input{
        
        width: 80%;
        padding: 15px;
        border-radius: 10px;
        border: 2px solid pink;
        text-align: center;
        background: #21161b;
    }
    .formulario button{
        width: 75%;
        padding: 10px;
        margin: 25px;
        border-radius: 10px;
       background:linear-gradient(90deg, #dfa2b7, #c392c6);
        color: black;
        font-size: 16px;
        cursor: pointer;
        
    }
    .formulario a{
        align-items: center;
        color: #fcefe6;
    }
    .formulario p{
        margin: 10px;
        color: #fcefe6;
       
    }
 
body.login{

    margin: 0;

    min-height: 100vh;

    display: grid;

    place-items: center;

    background:pink;
}
 
body.contraseña{

    margin: 0;

    min-height: 100vh;

    display: grid;

    place-items: center;

    background: pink;
}
body.registro{
    min-height: 100vh;

    display: grid;

    place-items: center;

    background: pink;
}
   .registro .formulario form{
       display: flex;
       flex-direction: column;
       gap: 15px;
       
    }
     .registro .formulario input{
        margin: 5px;
        width: 77%;
        padding: 15px;
        border-radius: 10px;
        border: 2px solid pink;
        text-align: center;
        background: #21161b;}

         .contraseña .formulario input{
        margin: 5px;
        width: 77%;
        padding: 15px;
        border-radius: 10px;
        border: 2px solid pink;
        text-align: center;
        background: #21161b}
         
        .registro .formulario a{
        align-items: center;
        color: #fcefe6;}

 @media (max-width:768px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }
    .deslizar, .botones{
        position: static ;
        text-align: center;
        margin: 15px 0;
        width: 100%;;
    }
    h1{
        font-size: 1.8rem;
        margin: 10px 0;
    }
    .slider{
        height: 250px ;
        width: 100%;
    }
    .slider-container{
        height: 250px;
    }
    .fondo{
        width: 90%;
        max-width: 450px;
        height: auto;

    }
 }

      